<!-- <div class="row">
    <div class="col-12">
        <form [formGroup]="createTodoForm!" (ngSubmit)="onSubmit()">
            <div class="row">
               
                <div class="col-5 form-group">
                    <label for="name">name</label>
                    <input 
                    type="text" 
                    id="name" 
                    class="form-control"
                    formControlName = "name">
                </div>
                <div class="col-5 form-group">
                    <label for="description">description</label>
                    <input 
                    type="text" 
                    id="description" 
                    class="form-control"
                    formControlName = "description">
                    
                </div>
            </div>
             <div class="row">
                <div class="col-6 mt-2 ">
                    <button
                        [disabled]="!userRegisterForm?.valid"
                        type="submit"
                        class="btn btn-success">
                        Register
                    </button>
                </div>
                <div class="col-6 mt-2 ">
                    <button 
                    (click) = "onClear()"
                    class="btn btn-danger">
                    clear
                    </button>
                </div>
            </div> 
            <button
            type="submit"
            class="btn btn-primary my-2">
            Create
        </button>
        </form>
    </div>
</div> -->
<div class="row">
    <div class="col-12">
        <form [formGroup]="createTodoForm!" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="d-flex col-8 justify-content-between">
                    <div class='mr-3'>
                        <mat-form-field appearance = 'outline'>
                            <mat-label>Todo name</mat-label>
                            <input
                            matInput 
                            type="text" 
                            id="name"
                            formControlName='name'>
                            <mat-icon>badge</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance = 'outline'>
                            <mat-label>Description</mat-label>
                            <input
                            matInput 
                            type="text" 
                            id="description"
                            formControlName='description'>
                            <mat-icon>description</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <button
                    color='primary'
                    class="mb-1"
                    [disabled]='!createTodoForm?.valid'
                    type="submit"
                    mat-raised-button    
                >
                    <mat-icon>create</mat-icon>
                    <span class="ml-1">Create</span>
                </button>
            </div>
        </form>
    </div>
</div>
