<app-navbar
[user]="user$ | async"
(logout) = "logout()"
    >
    
</app-navbar>

<div class="container">
    <ng-container *ngIf="!loading; else loadingTemplate"></ng-container>
    <app-page-title [pageTitle]= "pageTitle"></app-page-title>
    <router-outlet></router-outlet>
</div>

<ng-template #loadingTemplate>
    <div class="d-flex justify-content-center align-items-center vh-100">

        <mat-spinner [diameter]= "50"></mat-spinner>
    </div>
</ng-template>

<notifier-container></notifier-container>